@font-face {
    font-family: 'MyFont';
    src: url('font.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

.menu {
    color: rgb(0,255,255);
    height: 50px;
    background-color: rgb(0, 183, 255);
    font-family: 'MyFont';
}

.fullMenuBar {
    display: flex;
    justify-content: right;
}

.mainPic {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    position: absolute;
    top: 120px;
    left: 10px;
    max-width: 60vw;
}

html {
    background-color: rgb(25, 25, 24);
}

.title {
    font-family: 'MyFont';
    font-size: 5.5vw;
    left: 30px;
    top: 20px;
    max-height: 60%;
    color:rgb(0, 183, 255);
}

.tabTitle {
    font-size: 3vw;
    font-family: 'MyFont';
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(0,255,255);
}

.info {
    font-size: 1.5vw;
    font-family: 'MyFont';
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color:rgb(0, 183, 255);
}

.extraImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}

.burgerImage {
    display: block;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.burgerContainer {
    border: 5px solid rgb(0,255,255);
    padding: 10px;
    margin-top: 10px;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
}

.burgerName {
    float: left;
    font-size: 2vw;
    font-family: 'MyFont';
    color:rgb(0, 183, 255);
}

.burgerstat {
    font-size: 1.5vw;
    font-family: 'MyFont';
    color:rgb(0, 183, 255);
}